@use "../../../scss/mixin" as *;

.comment {
  width: 350px;
  min-height: 200px;

  padding: 5px;
  @include flex(10px);

  .content {
    @include flex(10px, start, start, column);
    .user-details {
      @include flex(10px, space-between);

      & > div > * {
        padding: 0 6px 0 0;
      }
    }
  }
}
