@use "../../../scss/variable" as *;
@use "../../../scss/mixin" as *;
@use "../../../scss/function" as *;
@use "sass:map";

.info-Visiting-Area {
  @include flex(10px, start, center, nowrap, column);
  margin-bottom: 100px;
  * {
    text-transform: capitalize !important;
  }
  .infoContaner {
    width: 1200px;
    margin-top: 40px;
    @include flex(10px, start, start, nowrap, column);
  }
  .navigation {
    @include flex(10px, space-evenly);
    width: 100%;
    button {
      font-size: px-rem(20);
      font-weight: bold;
      padding: 10px 0;
    }
  }
  .hovering:hover {
    color: map.get($text-colors, dark-green);
  }
}
