@use "../../../scss/variable" as *;
@use "../../../scss/function" as *;
@use "../../../scss/main" as *;
@use "../../../scss/mixin" as *;

.page-nation {
  @include btn-style(light, page-nation, cart-page);
}
.buttonHover:hover {
  color: $basic-same-color-ton;
}
.removeFromCart {
  background: rgb(203, 0, 0) !important;
}
.cart {
  @include btn-style(light, null, cart-page);
  font-weight: bold;
}
.cart-controller {
  border: 1px solid black;
  @include flex(0, center, center);
  @include btn-style(null, cloth-size, null);
}
.controller {
  @include btn-style(null, some-controller, null);
}

.price-filter {
  @include btn-style(light, null, price-filter);
}

.items-filter {
  @include btn-style(null, items-filter, items-filter);
}

.newsletterBtn {
  @include btn-style(light, items-filter, cart-page);
  font-weight: bold;
  border-radius: 10px;
}

.red {
  background: rgb(7, 173, 134) !important;

  color: white;
}
.notVisible {
  visibility: hidden;
}
.addedToWaitList {
  color: #fd0909 !important;
}
.themeChanged {
  transform: rotate(-180deg);
}
button {
  @extend %default-btn;
}
.darkTheme {
  color: white;
}
.bgdarkTheme {
  background: white;
  color: black;
}
