@use "../../../scss/variable" as *;
@use "../../../scss/function" as *;
@use "../../../scss/main" as *;
@use "../../../scss/mixin" as *;

.pageNation-style {
  padding: 12px !important;
  background: rgb(252, 132, 4);
  border-radius: 1000px;
}

.pageActive {
  padding-inline: 37px !important;
}

.buttonHover:hover {
  color: $basic-same-color-ton;
}
.removeFromCart {
  background: rgb(203, 0, 0) !important;
}
.cart {
  @include btn-style(light, null, cart-page);
  font-weight: bold;
}
.cart-controller {
  border: 1px solid black;
  @include flex(0, center, center);
  @include btn-style(null, cloth-size, null);
}
.controller {
  @include btn-style(null, some-controller, null);
}

.price-filter {
  @include btn-style(light, null, price-filter);
}

.items-filter {
  @include btn-style(null, items-filter, items-filter);
}

.newsletterBtn {
  @include btn-style(light, items-filter, cart-page);
  font-weight: bold;
  border-radius: 10px;
}

.red {
  background: rgb(7, 173, 134) !important;
  color: white;
}
.notVisible {
  visibility: hidden;
}
.addedToWaitList {
  color: #fd0909 !important;
}
.themeChanged {
  transform: rotate(-180deg);
}
button {
  @extend %default-btn;
}
.darkTheme {
  color: white;
}
.bgdarkTheme {
  background: white;
  color: black;
}

.hoverEffect:hover {
  color: $basic-same-color-ton;
}

.activeUnderLine {
  text-decoration: underline 4px solid #e009ff;
  text-underline-offset: 15px;
}

.star {
  $star-color: #ffe405;

  color: $star-color;
  letter-spacing: 3px;
  text-shadow: 0 0 1px $star-color;
  svg {
    stroke-width: 1.2;
  }
}
