@use "mixin" as *;
@use "function" as *;
@use "variable" as *;

%default-btn {
  color: black;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: px-rem(16);
}

%default-input {
  padding: 5px 5px;
  border-bottom: 2px solid $basic-same-color-ton;
  width: 100%;
  font-size: 1rem;
  background: none;
}

%default-list {
  @include flex(38px, start, center);
  overflow: hidden;
  padding: 14px 14px;

  width: 100%;
}

%default-cardRender {
  @include grid(repeat(3, 1fr), null, 20px);

  padding: 10px 0;
}

%default-collapse-cardRender {
  @include grid(null, null, 20px);
}
